body {
    position: relative;
    background: #000;
    color: #fff;
    padding: 30px 15px 0 15px;
}

main {
    max-width: 100%;
    height: 90vh;
    margin: 10px auto;
}

h1 {
    color: white;
    font-size: 28px;
}

.display {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;

}

.watch {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 300px;
}

.buttons {
    display: flex;
    gap: 5px;
}

button {
    font-size: 20px;
}
